@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 7, 7, 7;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 6, 6, 6;
}

/* Default */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 173 58% 39%;
    --chart-2: 12 76% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-5: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 340 75% 55%;
  }
}

#employee-container {
  background: #171717;
  @apply w-[960px] my-[30px] rounded-lg shadow-xl overflow-visible mx-auto pb-[40px];
}

.dashboard-section {
  @apply w-full px-10 border-0;
}

.career-overview {
  @apply h-fit pb-8;
}

.section-title {
  @apply text-2xl font-extralight text-gray-800 dark:text-gray-100 text-left w-full mb-6 ml-6;
}

.section-title-no-indent {
  @apply text-2xl font-extralight text-gray-800 dark:text-gray-100 text-left  mb-6;
}

.career-overview-header {
  @apply flex items-baseline justify-between gap-2 w-full mb-2 capitalize;
}

.career-overview-skill-float {
  @apply flex flex-row bg-gray-800 rounded text-white text-sm absolute p-3 shadow-lg z-20 border border-gray-700 capitalize;
}

.progress-under-label {
  width: 100%;
  height: 100%;
  font-size: 12px;
  white-space: wrap;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: start;
  bottom: -52px;
  opacity: 0.5;
  text-transform: capitalize;
}
.progress-under-label:hover {
  opacity: 1;
}

.progress-segment-container:first-child {
  @apply rounded-l-full;
}

.progress-segment-container:last-child {
  @apply rounded-r-full;
}

#talent-select {
  @apply min-w-[200px] h-fit px-4 py-2 text-sm border-[1px] border-gray-800 rounded focus:outline-none focus:border-transparent;
}

.swiper-image {
  @apply w-[110px] h-[110px] relative cursor-pointer overflow-visible transform transition-all hover:scale-105 p-0 select-none;
}

.swiper-image.inactive {
  @apply grayscale contrast-50 opacity-60
}

.badge-overlay {
  @apply fixed top-0 left-0 right-0 bottom-0 inset-0 bg-black/90 z-[60] flex items-center justify-center cursor-pointer;
}

.badge-overlay-number {
  @apply absolute text-black top-2 -right-1 w-10 h-10 rounded-full overflow-visible flex items-center justify-center text-xl font-bold shadow-lg z-20;
}

.badge-overlay-close {
  @apply absolute top-10 right-10 p-2 rounded-full hover:bg-gray-800/50 text-white;
}

.swiper-container-bg {
  background: #0a0a0a;
  @apply w-[1000px] h-[150px] relative overflow-visible py-4 -ml-[60px] shadow-lg shadow-[rgba(0,0,0,0.4)]/50;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  /*z-index: 99;*/
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 99;
  background: #2b66e0;
  cursor: pointer;
  top: 0;
  bottom: 0;
  position: absolute;
  @apply shadow-lg
}

.swiper-button-prev {
  @apply rounded-r-lg -ml-[10px] hover:bg-[#2B66E0];
}

.swiper-button-next {
  @apply rounded-l-lg -mr-[10px];
}

.swiper-button-disabled {
  @apply invisible;
}
.recharts-surface {
  border: 1px solid rgba(140, 140, 140, 0.1);
  padding: 20px 0;
}

.recharts-surface:focus {
  outline: none !important;
}
.recharts-button {
  padding: 8px 12px;
  border: 1px solid  rgba(140, 140, 140, 0.1);
  border-bottom: none;
  text-align: left;
  min-width: 100px;
}
.recharts-button:not(:last-child) {
  border-right: none;
}
.recharts-button[data-active="true"].recharts-button[data-key="sp"] {
  background: #3ab286;
}
.recharts-button[data-active="true"].recharts-button[data-key="ppi"] {
  background: #e08832;
}
.recharts-button[data-active="true"].recharts-button[data-key="apr"] {
  background: #db366e;
}
.recharts-button[data-active="true"].recharts-button[data-key="wage"] {
  background: #a955d4;
}
.recharts-button[data-active="true"].recharts-button[data-key="attendance_percentage"] {
  background: #275fd2;
}

.tooltip-styles {
  background: rgb(14, 14, 14);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid rgb(42, 42, 42);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 8px;
  color: #fff;
  font-size: 12px;
}

.tooltip-styles .tooltip-title {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 14px;
}

.progress-blue {
  color: #2b66e0;
  font-weight: bold;
  font-size: 14px;
}

.required-pink {
  color: #db366e;
  font-weight: bold;
  font-size: 14px;
}

.legend-dot-blue {
  background: #2b66e0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.legend-dot-pink {
  background: #db366e;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.recharts-responsive-container {
  background: rgba(14, 14, 14, 0.73);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(140, 140, 140, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.recharts-responsive-container,
.recharts-wrapper,
.recharts-surface {
  max-width: 100%;
  width: 100%;
}

